<div class="product-container">
    <div class="portlet">
        <div class="portlet-image"></div>
        <div class="portlet-text">
            <div class="product-title">{{productName}}</div>
            <div class="product-text">{{productTitle}}</div>
        </div>
    </div>
    <div class="review-container">
        <div class="your-review">
            <b>Your review</b>
            <mat-divider></mat-divider>
            <form  action="GET" class="review-form" [formGroup]="rateForm" >
                <textarea  class="review-textarea" placeholder="Type your review..." formControlName="text"></textarea>
                <div class="star-block">
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" formControlName="rate" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" formControlName="rate"/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" formControlName="rate"/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" formControlName="rate"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" formControlName="rate"/>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <div class="submit-btn">
                    <button mat-stroked-button class="review-btn" (click)="postRate(rateForm.value)">SUBMIT REVIEW</button>
                </div>
            </form>
        </div>
        <div class="user-reviews-container">
            <div class="user-review" *ngFor=" let userRate of reviewsArray">
                <span> <b class="username">{{userRate.created_by.username}}</b> at {{userRate.created_at | date:"hh:ss dd MMM y"}}</span>
               <div class="star-cont" [ngSwitch]="userRate.rate">
                <ng-template ngSwitchCase="0">
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                </ng-template>
                <ng-template ngSwitchCase="1">
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                </ng-template>
                <ng-template ngSwitchCase="2">
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                </ng-template>
                <ng-template ngSwitchCase="3">
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-unchecked"></div>
                    <div class="star-rate-unchecked"></div>
                </ng-template>
                <ng-template ngSwitchCase="4">
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-unchecked"></div>
                </ng-template>
                <ng-template ngSwitchCase="5">
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                    <div class="star-rate-checked"></div>
                </ng-template>
               </div>
                <span> <i>{{userRate.text}}</i></span>
            </div>
        </div>
    </div>
</div>
