<mat-toolbar class="header">
    <span class="header-group">
        <img src="../../assets/img/logo (1) 1.svg" alt="">
        <span>Synapse Internship</span>
    </span> 
  <img routerLink="/auth/login" src="../../assets/img/exit_icon.svg" alt="" style="cursor: pointer;">
</mat-toolbar>
<div class="product-list-container">
        <nav>
            <div class="account">
                <div class="profile-pic">
                    ST
                </div>
                <p class="user-name">Synapse Team</p>
                <div class="divider"></div>
            </div>
            <button mat-stroked-button class="products-button" routerLink="/auth/login"><mat-icon class="shoping-icon">shopping_basket</mat-icon><span class="products-text">Products</span></button>
        </nav>
        <div class="products-container">
            <div class="products">
                
            </div>
        </div>
</div>
