.list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pd-name-dscr {
  display: flex;
  gap: 144px;
}
.list-header {
  font-weight: bold;
}
.list-title,
.list-text {
  width: 150px;
}
.list-item-btn {
  width: 120px;
  height: 40px;
  background-color: #0d7185;
  color: white;
}
