.list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pd-name-dscr {
  display: flex;
  gap: 144px;
}
.list-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-right: 10px;
}
table {
  width: 100%;
  box-shadow: none;
}

.list-title,
.list-text {
  width: 150px;
}
.list-item-btn {
  width: 120px;
  height: 40px;
  background-color: #0d7185;
  color: white;
  margin: 10px 0px 10px 0px;
}
.mat-column-productName {
  width: 300px;
}
.mat-header-cell:last-of-type {
  text-align: right;
}
.mat-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}
